# Enable content negotiation for clean URLs.
Options +MultiViews

# Enable arbitrary numbers in CSS/JS paths, a la:
# main.198294720.js
RewriteEngine On
# Make sure that the file doesn't actually exist
RewriteCond %{REQUEST_FILENAME} !-s
# Strip out the version number
RewriteRule ^(.*)\.[\d]+\.(css|js|png|jpg|gif)$ $1.$2 [L]
